<%= link_to crop, class:"medium-12 large-6 columns bottom-padding" do %>
  <div class="search-result-crop">
    <div class="crop-image" style="background-image: url('<%= crop.main_image_path %>')"></div>
    <div class="crop-info">
      <h3 class="crop-name"><%= crop.name %></h3>
      <!-- TODO(@warpling): pluralization/translation -->
      <!-- TODO our counter cache doesn't work anymore because we have draft guides. Our cache should reflect how many drafts are true -->
      <!-- <p class="guide-count"><%= t 'guides.num_guides', :count=>crop.guides_count %></p> -->
    </div>
  </div>
<% end %>
