<%= link_to crop do %>
  <li class="search-result-crop" style="background-image: url('http://www.organicgardening.com/sites/default/files/images/tomato-tips-380-1.jpg')">
    <div class="crop-name">
      <h3><%= crop.name %></h3>
    </div>
  </li>
<% end %>