<%= link_to guide do %>
  <li class="search-result-guide">
    <div class="guide-info">
      <h3 class="guide-name"><%= guide.name %></h3>
      <p class="guide-author">by <%= guide.user.display_name %></p>
      <div class="guide-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="guide-description">
      <p><%= guide.overview %></p>
    </div>
  </li>
<% end %>