<div class="row">
  <div class="crop-search small-12 columns">

    <h1>Search Results:</h1>

        <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
        <% @results.each do |result| %>
          <%= render partial: "result", locals: {crop: result} %>
        <% end %>
        </ul>
      
  </div>
</div>
