<div class="row wide-row">
  <div class="crop-results small-6 columns">
    <h2>Choose a crop</h2>
    <%= render partial: "crop_results", object: @crops %>
  </div>
  <div class="guide-results small-6 columns">
    <h2>Explore the guides</h2>
    <%= "no guides yet :(" if @guides.empty? %>
    <%= render partial: "guide_results", object: @guides %>
  </div>
</div>
