<div class="row">
  <div class="small-12 columns">

    <h1>Search Results:</h1>

      <% if @results.empty? %>
        <h2>Nothing found :(</h2>
      <% else %>
        <ul class="small-block-grid-3">
        <% @results.each do |result| %>
          <%= render partial: "result", locals: {crop: result} %>
        <% end %>
        </ul>
      <% end %>
      
  </div>
</div>
