<div class="crop-search-results row wide-row">
  <div class="crop-results-container small-6 columns">
    <h2 class="text-center">Choose a crop</h2>
    <%= render partial: 'crop_results', object: @crops %>
  </div>
  <div class="guide-results-container small-6 columns">
    <h2 class="text-center">Explore the guides</h2>
    <% if @guides.empty? %>
      <p class="no-results">Looks like there aren't any guides for these crops yet!<br/>Perhaps you could create one?</p>
    <% end %>
    <%= render partial: 'guides/guide_results_list', object: @guides %>
  </div>
</div>
