.search-result-crop {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin-right: 8px;

  // Simple hover effect
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }

  .crop-name {
    position: absolute;
    background-color: rgba(0,0,0,0.45);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 12px;

    h3 {
      margin: 0;
      color: white;
      font-size: 1.2em;
      font-weight: 600;
    }
  }
}