.search-result-crop {
  position: relative;
  background-color: #EEE;
  height: 240px;
  padding: 0;
  margin-bottom: 8px;
  border-radius: 2px;
  overflow: hidden;

  // Simple hover effect
  @include single-transition(opacity, 0.2s, ease-out);
  opacity: 0.9;
  &:hover {
    opacity: 1;

    .crop-info {
      background-color: rgba(0,0,0,0.95);
    }
  }

  .leaf-placeholder {
    $size: 40px;
    position: absolute;
    font-size: $size;
    width: $size;
    height: $size;
    top: 50%;
    left: 50%;
    margin-top: -($size/2);
    margin-left: -($size/2);
  }

  .crop-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .crop-info {
    $padding: 8px;

    display: table;
    width: 100%;
    position: absolute;
    padding: $padding ($padding+4px);
    @include single-transition(background-color, 0.2s, ease-in);
    background-color: rgba(0,0,0,0.65);
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;

    .crop-name {
      display: table-cell;
      width: 100%; /* take up as much width as possible */
      margin: 0;
      color: white;
      font-size: 1.2em;
      font-weight: 600;
    }

    .guide-count {
      display: table-cell;
      margin: 0;
      color: rgba(255,255,255,0.9);
      font-weight: 600;
      white-space: pre;
      text-align: right;
      padding-left: ($padding+4px);
    }
  }
}