.search-result-guide {
  width: 100%;
  min-height: 40px;
  margin-bottom: 12px;
  padding: 4px 10px;
  list-style: none;

  background-color: white;
  color: rgba(85,94,106,0.8);
  margin: 0 0 30px 0;
  padding: 26px;
  position: relative;
  @include border-radius(4px);
  $compatibility-bar-height: 4px;
  @include box-shadow(0 -$compatibility-bar-height 0 #e5eef1);
  /* account for compatibility color bar, results in uncentered li! */
  left: $compatibility-bar-height;

  &.compatibility-low {
    @include box-shadow(0 -$compatibility-bar-height 0 $compatibility-low);
  }

  &.compatibility-med {
   @include box-shadow(0 -$compatibility-bar-height 0 $compatibility-med); 
  }

  &.compatibility-high {
    @include box-shadow(0 -$compatibility-bar-height 0 $compatibility-high);
  }

  &:hover {
    background-color: #EEEEEE;
  }

  &:active {
    background-color: #DDDDDD;
  }

  .guide-info {
    display: block;
    margin: 0;
  }

  .guide-name {
    display: inline-block;
    margin: 0;
    font-size: 1.25em;
    font-weight: 600;
    color: #333;
  }

  .guide-author {
    display: inline-block;
    margin: 0;
    color: #A9A9A9;
    font-size: 0.9em;
    margin-left: 6px;
  }

  .guide-description {
    display: block;
    p {
      margin: 0;
      color: #666;
    }
  }
}