<accordion-group
    ng-init="r.isopen = true"
    is-open="r.isopen"
    class="accordion-navigation requirements">
  <accordion-heading class="title-wrapper">
    <h2 class="title">
      <i ng-class="{'fa fa-minus': r.isopen, 'fa fa-plus': !r.isopen}"></i>
      <%= t('.title') %>
    </h2>
  </accordion-heading>
  <p class="section-text">
    <%= t('.the_small_details') %>
  </p>
  <div class="box">
    <div class="row">
      <div ng-if="guide.basic_needs.length"
           class="small-12 columns actual-requirements">
        <ul>
        <!-- , 'high' : b.percent >= .75, 'low' : b.percent < .5  -->
        <li ng-repeat="b in guide.basic_needs" class="requirement"
              ng-class="{ 'medium' : b.percent >= .5 && b.percent < .75, 'high': b.percent >= .75, 'low' : b.percent < .5 }"
              ng-if="b.have && b.overlap"
              tooltip="{{ b.tooltip }}"
              >
            <span class="small-6 columns"
              ng-bind="b.name + ':'"></span>
            <span class="small-6 columns"
              ng-bind="b.need"></span></li></ul>
      </div>
      <div class="small-12 columns empty"
        ng-if="guide.basic_needs.length === 0">
        <i class="fa fa-thumbs-down"></i>
        <br/>
        <%= t('.no_requirements_yet') %>
      </div>
    </div>
  </div>
</accordion-group>

