<accordion-group
  ng-init="stage.isopen = true"
  is-open="stage.isopen"
  class="accordion-navigation stages">
  <accordion-heading class="title-wrapper">
    <h2 class="title" id="stages">
      <%= t('.title') %>
      <i class="right" ng-class="{'fa fa-angle-down': true, 'open': stage.isopen}"></i>
    </h2>
  </accordion-heading>
  <div class="box"
    ng-if="guide.stages.length === 0">
    <div class="row">
      <div class="small-12 columns empty">
        <i class="fa fa-thumbs-down"></i>
        <br/>
        <%= t('.no_stages_yet') %>
      </div>
    </div>
  </div>
  <tabset class="tabs">

    <tab ng-repeat="stage in guide.stages | orderBy:'order'">
      <tab-heading href="#instructions-{{ stage.slug }}" class="tab-heading">
        <h3>{{ stage.name }}</h3>
      </tab-heading>

      <div of-show-guide-stages stage="stage" class="columns small-12">

      </div>
    </tab>
  </tabset>
</accordion-group>
