<accordion-group
  ng-init="stage.isopen = true"
  is-open="stage.isopen"
  class="accordion-navigation stages">
  <accordion-heading class="title-wrapper">
    <h2 class="title" id="stages">
      <%= t('.title') %>
      <i class="right" ng-class="{'fa fa-angle-down': true, 'open': stage.isopen}"></i>
    </h2>
  </accordion-heading>
  <div class="box"
    ng-if="guide.stages.length === 0">
    <div class="row">
      <div class="small-12 columns empty">
        <i class="fa fa-thumbs-down"></i>
        <br/>
        <%= t('.no_stages_yet') %>
      </div>
    </div>
  </div>
  <tabset class="tabs">

    <tab ng-repeat="stage in guide.stages | orderBy:'order'">
      <tab-heading href="#instructions-{{ stage.slug }}" class="tab-heading">
        <h3>{{ stage.name }}</h3>
      </tab-heading>
      <div class="actions columns small-12">
        <div class="row">
          <div class="action columns small-12" ng-repeat="action in stage.stage_actions">
            <h3 ng-bind="action.name"></h3>
            <p ng-bind="action.overview"></p>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</accordion-group>
