<!-- <accordion-group
    ng-init="r.isopen = true"
    is-open="r.isopen"
    class="accordion-navigation requirements">
  <accordion-heading class="title-wrapper">
    <h2 class="title">
      <i ng-class="{'fa fa-minus': r.isopen, 'fa fa-plus': !r.isopen}"></i>
      <%= t('.title') %>
    </h2>
  </accordion-heading>
  <p class="section-text">
    <%= t('.the_small_details') %>
  </p>
  <div class="box">
    <div class="row">
      <div
        ng-if="guide.requirements.length"class="small-12 columns actual-requirements">
        <ul>

          <li ng-repeat="r in guide.requirements" class="requirement">
            <span class="small-6 columns"
              ng-bind="r.name + ':'"></span>
            <span class="small-6 columns"
              ng-bind="r.required"></span>
          </li>
        </ul>
      </div>
      <div class="small-12 columns empty"
        ng-if="guide.requirements.length === 0">
        <i class="fa fa-thumbs-down"></i>
        <br/>
        <%= t('.no_requirements_yet') %>
      </div>
    </div>
  </div>
  </accordion-group>
 -->
