<accordion-group
    ng-init="r.isopen = true"
    is-open="r.isopen"
    class="accordion-navigation requirements">
  <accordion-heading class="title-wrapper">
    <h2 class="title">
      <i ng-class="{'fa fa-angle-right': true, 'open': r.isopen}"></i>
      <%= t('.title') %>
    </h2>
  </accordion-heading>
  <p class="section-text">
    <%= t('.the_small_details') %>
  </p>
  <div class="box">
    <div class="row">
      <div ng-if="guide.basic_needs.length"
           class="columns small-12 actual-requirements">
        <table>
          <tbody>
            <tr ng-repeat="basicNeed in guide.basic_needs" class="requirement"
                  ng-class="{ 'medium' : basicNeed.percent >= .5 && basicNeed.percent < .75, 'high': basicNeed.percent >= .75, 'low' : basicNeed.percent < .5 }"
                  ng-if="basicNeed.total && basicNeed.overlap"
                  tooltip="{{ basicNeed.tooltip }}"
                  >

              <!-- TODO: icons -->
              <td class="basic-need-name">
                <p class="icon {{ 'of-' + basicNeed.slug }}"><span ng-bind="basicNeed.name"></span></p>
              </td>
              <td class="basic-need-value">
                <p ng-bind="basicNeed.total"></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="small-12 columns empty"
        ng-if="guide.basic_needs.length === 0">
        <i class="fa fa-thumbs-down"></i>
        <br/>
        <%= t('.no_requirements_yet') %>
      </div>
    </div>
  </div>
</accordion-group>

