# These owners will be the default owners for everything in
# the repo. Unless a later match in this file takes precedence,
# These users will be requested for
# review when someone opens a pull request.
*   @br3nda