<br/>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="large-8 medium-10 small-12 small-centered columns">
        <div class="panel">
          <h1>Hey there!</h1>
          <%= render 'devise/shared/user_form' %>
          <hr/>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
