.guide-results {
  margin: 0;

  .no-results {
    text-align: center;
  }

  .new-guide-button {
    @include add-new-button();
    @include box-shadow(none);

    width: 100%;
    min-height: 50px;
    margin-bottom: 12px;
    margin: 0 0 30px 0;
    padding: 26px;
    position: relative;
    border-radius: 10px;
    color: #CCC;
    font-size: 1em;
  }
}
