/* presets */

.guides-list {
  margin-top: 2rem;
  list-style: none;

  table {
    width: 100%;
  }
}

.new-guide-button{
  @include add-new-button();
  @include box-shadow(none);
  width: 100%;
  min-height: 50px;
  margin-bottom: 12px;
  margin: 0 0 30px 0;
  padding: 26px;
  position: relative;
  border-radius: 10px;
  color: #CCC;
  font-size: 1em;
}

// TODO: Remove/refactor out generic selectors like this!
.box {
  border-radius: 2px;
  background: rgba(198,159,96,0.04);
  border: 1px solid rgba(0,0,0,0.25);

  h1 {
    font-size: 2rem;
  }
}

/* Styles for guides index, show, edit, new, etc */

.guides {
  position: relative;

  .guide-header {
    margin-top: 20px;
    border-bottom: rgb(148, 148, 148) 3px solid;
  }

  .guide-name {
    float: left;
  }

  .box {
    margin: 2rem inherit;
    padding-top: 1rem;
  }

  .stages .box {
    margin-top: 0;
  }

  .empty {
    text-align: center;
    padding-bottom: 1rem;
    i {
      font-size: 1.5rem;
    }
  }

  .canopy {
    height: 300px;
    margin-bottom: 1rem;
    /* 20% works well for baren_field.jpg, but we may want to adjust to center for user photos */
    background-position: center 20%;
    background-size: cover;
  }

  .title {
    h2 {
      font-weight: 100;
      color: $secondary-color;

      span {
        color: $of-green;
        font-weight: 300;
      }
    }

    .right {
      position: absolute;
      top: 1rem;
      right: 0;
    }
  }

  .actual-requirements {
    table {
      border-spacing: 0px;
      border-collapse: collapse;

      tr {
        border-bottom: #CDCDCD 2px solid;
      }

      tr:last-child {
        border-bottom: none;
      }

      td:nth-child(1) {
        border-right: #CDCDCD 2px solid;
      }
    }

    ul {
      list-style: none;
    }

    li {
    }

    h2 {
      font-size: 1.4rem;
    }
  }

  .overview{
    margin: 1rem auto;
  }

  .content {
    padding-bottom: 8rem;
  }

  dd.accordion-navigation > a{
    border-bottom: rgb(148, 148, 148) 3px solid;
    background-color: transparent;
    transition: .2s background-color;

    // angle icon
    i.fa {
      margin-right: 30px;
      opacity: 0;
      @include single-transition(transform, 0.2s, ease-out);

      &.open {
        @include transform(rotate(180deg));
      }
    }
  }

  /* Show Arrow on Hover */
  .accordion > .accordion-navigation > a:hover i.fa{
    opacity: 100;
  }

  /* Section accordion styling */
  .accordion > dd.accordion-navigation > a,
  .accordion > dd.active > a,
  .accordion > dd.active > a.title-wrapper {
    display: block;
    padding: .2rem 1rem;

    @include accordion-header-color($of-orange);

    h2, h5 {
      display: inline-block;
      font-weight: 100;
    }

    .title {
      font-size: 1.5rem;
    }

    .author {
      margin-left: 20px;
      display: inline-block;
    }
  }

  .accordion dd > .content {
    padding: 0;
    margin-bottom: 50px;
  }

  .actions {
    border: 1px solid #CCCCCC;

    .action {
      padding: 10px 40px;
      border-top: 2px solid #333333;
    }
  }

  /* Stages in completed guides */
  .stages{
    .image img{
      height: 170px;
      background-size: cover;
      background-position: center;
      width: 100%;
    }

    h3{
      font-size: 1rem;
      margin: 0;
    }

    /* Action labels in completed guides look different */
    .actions li {
      color: #333333;
      border-color: #333333;

      &.selected {
        color: white;
        background: $of-green;
        border-color: $of-green;
      }
    }
  }
}


.show-guide {

  .canopy{
    height: 300px;
    margin-bottom: 1rem;
  }

  .guide-controls {
    float: right;
    margin-top: 18px;
  }

  .edit-link{
    float: right;
    margin-left: 20px;
  }

  .guide-name {
    text-transform: capitalize;
  }

  .by-line {
    font-size: 1rem;
    color: #666666;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
  }

  .compatibility-circle-container {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
  }

  .requirements {
    padding: 0;

    table {
      width: 100%;
      height: 100%;
      margin: 0;
      border: none;

      tr {

        &.low {
          background: $compatibility-low-color-bg;
        }

        &.medium {
          background: $compatibility-med-color-bg;
        }

        &.high {
          background: $compatibility-high-color-bg;
        }

        td {
          padding: 16px;
        }
      }

      p {
        margin: 0;
      }

      .basic-need-name {
        span {
          padding-left: 10px;
          font-weight: 600;
        }
      }

      .icon {
        margin-right: 8px;
      }
    }
  }


  // .image-wrapper{
  //   background-position: top;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   overflow: hidden;
  //   height: 300px;
  //   border-bottom: 1px solid rgb(51, 51, 51);
  //   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

    // img{
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   top: -9999px;
    //   bottom: -9999px;
    //   margin: auto 0;
    //   width: 100%;
    // }
  // }

}

/*

  Markdown corrections

*/

.markdown-help-text {
  font-size: .8rem;
  display: block;
  margin-top: .25rem;
  margin-bottom: 1rem;
}

.markdown {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  h4, h5, h6 {
    font-size: .8rem;
  }
}
