.show-guide {

  background-color: #f6f6f6;

  .guide-name input {
    font-size: 2rem;
  }

  .compatibility-circle-container {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 50px;
  }

  .basic-needs {
    padding: 0;

    table {
      border: none;
      height: 100%;
      margin: 0;
      width: 100%;

      tr {

        &.low {
          background: $compatibility-low-color-bg;
        }

        &.medium {
          background: $compatibility-medium-color-bg;
        }

        &.high {
          background: $compatibility-high-color-bg;
        }

        td {
          padding: 16px;
        }
      }

      p {
        margin: 0;
      }

      .basic-need-name {
        span {
          font-weight: 600;
          padding-left: 10px;
        }
      }

      .icon {
        margin-right: 8px;
      }
    }
  }
}

/*

  Markdown corrections

*/

.markdown-help-text {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
}

.markdown {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  h4, h5, h6 {
    font-size: 0.8rem;
  }
}

.actions {
  .images {
    display: inline-block;

    img {
      height: 200px;
    }
  }
}
