.crop-search-results {
  height: 100%;

  h2 {
    margin: 1em 0;
  }

  .crop-results-container {
  }

  .guide-results-container {
    background-color: $openfarm-blue-grey;
    /* replace the typical 15px left/right padding
    to account for the compatibility score bar */
    padding: 0 15px 30px 15px;
  }

  /* This ensures that on non-mobile screens the two containers
  show up not only side-by-side but full-height */
  @media #{$medium-up} {
    .crop-results-container {
      height: 100%;
      overflow-y: scroll;
    }

    .guide-results-container {
      height: 100%;
      overflow-y: scroll;
    }
  }
}

/*@import "crop_searches/_crop_results.css.scss";
@import "crop_searches/_crop_result.css.scss";
@import "crop_searches/_guide_results.css.scss";
@import "crop_searches/_guide_result.css.scss";*/
