// Because <ie9 doesn't know what video is.
video { display: block; }

// Hide video on mobile
@media screen and (max-device-width: 800px) {
  .video-background video {
    display: none;
  }
}

.video-background {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: image-url('home_video_first_frame.jpeg') no-repeat center center;
  background-size: cover;
  background-color: #243B21; // a dark green to match the video

  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;

  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%; min-height: 10%;
    width: auto; height: auto; z-index: -100;
    background: image-url('home_video_first_frame.jpeg') no-repeat center center;
    background-size: cover;
  }
}

.hero {
  height: 70%;
  max-width: initial;
  position: relative;
  transition: 0.3s;

  // Keep hero large enough for how-it-works on large screens
  @media #{$medium-up} {
    min-height: 650px;
  }

  .logo {
    display: block;
    margin: 0 auto 10px auto;
    max-width: 70%;
  }

  h2 {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 0;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
  }

  button.how-it-works-button {
    background-color: rgba(153,153,153,0.5);
    border-radius: 3px;
    color: #ffffff;
    display: block;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &:hover {
    background-color: rgba(153,153,153,0.7);
    }
  }

  // The search bar is laid out with tables.
  // Yes this makes sense...for backwards compatability and feeling bad
  // Eventually we will have the sweet, sweet flexbox.
  .search-bar-container {
    display: table;
    margin: 1.5rem auto;
    max-width: 750px;
    width: 100%;
  }

  .search-bar {
    padding: 0 1rem;
    position: relative;
    $search-bar-height: 50px;

    .search-input-container {
      display: table-cell;
      width: 100%;

      // Typeahead dropdown
      .f-dropdown {
        margin-top: 0;
        padding-left: 0.5rem;
        text-align: left;

        // dropdown carrat
        &:before, &:after {
          display: none;
        }
      }
    }

    input.search-input {
      background-color: #ffffff;
      color: #333333;
      display: table-cell;
      font-size: 1.2em;
      height: $search-bar-height;
      margin: 0;
      padding: 0 1rem;
      width: 100%;
    }

    .search-button-container {
      display: table-cell;
      width: auto;
    }

    input.search-button {
      background-image: none;
      background-color: $of-green;
      border-radius: 0;
      color: #ffffff;
      display: table-cell;
      font-size: 1.2em;
      height: $search-bar-height;
      padding: 0 35px;
      right: 0;
      top: 0;

      &:hover {
        background-color: rgba(106, 168, 79, 1);
      }

      // Make the search button take up less room on mobile
      @media #{$small-only} {
        padding: 0 15px;
      }
    }
  }

  .search {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
  }
}
