.how-it-works {
  background-color: #dcd9fa;
  width: 100%;
  position: absolute;
  max-width: initial;
  height: 100%;
  top: -100%;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;

  i.exit {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
  color: #999999;

    &:hover {
      color: #333333;
    }
  }

  h2 {
    font-size: 1.3rem;
    color: #333333;
    text-shadow: none;
    margin-bottom: 0;
    font-weight: 400;
  }

  .steps {
    $step-circle-size: 50px;

    margin: 1rem auto 1.5rem;
    line-height: 80px;
    font-weight: 600;

    .step {
      display: block;
      line-height: $step-circle-size;
      vertical-align: middle;
      margin: 15px;
      font-size: 1.2rem;
      color: #333333;
      font-weight: 800;
    }

    .step-circle {
      display: block;
      box-sizing: border-box;
      float: left;
      width: $step-circle-size;
      height: $step-circle-size;
      margin-right: 15px;
      border-radius: 50%;
      border: 2px solid #333333;
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: $step-circle-size - 5px;
      vertical-align: middle;
      text-align: center;
    }

    .step-circle-1 {
      background-color: rgba(120, 63,  4, 0.7);
    }

    .step-circle-2 {
      background-color: rgba(191, 144, 0, 0.7);
    }

    .step-circle-3 {
      background-color: rgba(106, 168, 79, 0.7);
    }
  }

  ul.life-stage-icons {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}
