/* Styles for the actions modal */

.actions-modal {
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;

  .actions li {
    width: 31.5%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.5%;
  }
}

.actions-modal:target {
  opacity: 1;
}

.actions-modal > div {
  padding: 1rem;
  border-radius: 5px;
  background: $gray-bg;
}

.close-modal {
  color: $of-red;
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  text-decoration: none;
}

.close-modal:hover { color: $gray-bg; }
