.guide-creation-nav {
  $guide-nav-color: #5E9546;
  background: $guide-nav-color;
  overflow-x: auto;
  overflow-y: hidden;

  // the ul containing the links
  ul {
    list-style: none;
    margin-left: 0;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    white-space: nowrap;
  }

  li {
    position: relative;
    display: inline-block;
  }

  li a {
    color: $white;
    font-size: 1.25em;
    font-weight: 600;
    vertical-align: middle;
    color: rgba(255,255,255,0.7);
    padding: 10px 10px 10px 35px;

    &.disabled {
      pointer-events: none;
    }

    &:hover {
      color: rgba(255,255,255,0.9);
    }

    &::before {
      position: absolute;
      top: 10px;
      left: 10px;
      $size: 12px;
      width: $size; height: $size;
      content: "";
      @include box-shadow(
          0 0 0 2px $guide-nav-color,
          0 0 0 4px #D9E9D2);
      border-radius: 50%;
    }

    &.check::after {
      @include manual-font-awesome('\f00c');
      position: absolute;
      top: 4px;
      left: 8px;
      font-size: 22px;
      color: $white;
    }

    &:active, &.active {
      color: $white;

      // get rid of check
      &::after {
        display: none;
      }
    }

    &.active::before {
      background: lighten($guide-nav-color, 80%);
      @include box-shadow(
          0 0 0 2px $guide-nav-color,
          0 0 0 4px lighten($guide-nav-color, 80%));
    }

    &:hover {
      // fill in dot
      &::before {
        background: $white;
      }

      // get rid of check
      &::after {
        display: none;
      }
    }
  }
}
