.large-guide {
  padding: 20px;

  .canopy {
    margin-top: 20px;
  }

  .guide-controls {
    margin-right: 0;
  }

  .guide-name {
    display: inline-block;
  }

  .header {
    border-bottom: rgb(148, 148, 148) 3px solid;
  }

  .crop-name {
    margin-right: 20px;
    padding-left: 0;
  }

  .guide-relationships {
    color: $dark-gray;
    font-size: 1rem;
    margin: 2rem .5rem 0;
    display: inline-block;
  }
}
