// TODO: @simonv3, figure out where to put these:

@-webkit-keyframes fa-spin-image-load {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(359deg);
            transform: translate(-50%, -50%) rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(359deg);
            transform: translate(-50%, -50%) rotate(359deg);
  }
}

.new-guide {

  .create-guide-steps{
    text-align: center;
    font-size: .8rem;
    color: $of-dark;
    margin-bottom: 1rem;

    .step:first-child{
      border-top-left-radius: $global-radius;
      border-bottom-left-radius: $global-radius;
    }

    .step:nth-child(3){
      border-top-right-radius: $global-radius;
      border-bottom-right-radius: $global-radius;
    }

    .step{
      padding: .5rem 1rem;
      border: 1px $secondary-color solid;
    }

    .step.active{
      background-color: $of-dark;
      border: 1px $of-dark solid;
      color: white;
    }

    .preview{
      border-radius: $global-radius;
      opacity: .5;
    }
  }

  section h1{
    text-align: center;
    font-size: 1.5rem;
    margin: .5rem 0;
  }

  form{
    width: 100%;
    display: inline-block;

    .practices .options label{
      display: inline-block;
    }

    label input[type=checkbox]{
      margin-bottom: 0;
      opacity: 0;
      width: 0;
    }

    label input[type=checkbox]:checked ~ span {
      background-color: $of-dark;
      color: white;
    }

    label span{
      border: 0;
      border-radius: 0;
      font-size: .9rem;
      /* TODO: waiting on @warpling's inclusion of compass; */
      /*@include transition(1s cubic-bezier(0, .5,.5,1));*/
    }

    label:first-child span{
      border-top-left-radius: $global-radius;
      border-bottom-left-radius: $global-radius;
    }

    button{
      border: 0;
      font-size: .9rem;
      border-top-right-radius: $global-radius;
      border-bottom-right-radius: $global-radius;
    }

    .button-wrapper{
      margin-top: 2rem;
    }

    .block{
      height: 2rem;
      display: block;
    }

    p{
      font-size: .9rem;
      color: #171717;
      line-height: 1.5rem;
      margin-bottom: .5rem;
    }
    input.button.small.secondary.left{
      margin-left: .5rem;
    }
  }
  .crop-image{
    background: #fff;
    width: 100%;
    height: 200px;
    border-radius: 2px;
    border: 0px solid #979797;
    -moz-box-shadow:    inset 0px 1px 3px 0px rgba(0,0,0,0.20);
    box-shadow:         inset 0px 1px 3px 0px rgba(0,0,0,0.20);
    display: inline-block;
    margin-bottom: 1rem;
    @include font-awesome-mixin();
    
    &:before{
      content: "\f06c";
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.ng-invalid-uploading:before{
      content: "\f110";
      -webkit-animation: fa-spin-image-load 2s infinite linear;
      animation: fa-spin-image-load 2s infinite linear;
    }

    img.no-image{
      transform: translate(-50%, -50%);
      position: relative;
      top: 50%;
      left: 50%;
    }
  }
}
