<div class="row">
  <div class="small-12 columns sidebar-section">
    <h4 class="section-header">Badges</h4>
    <ul class="badges-list">
      <li>Backer Badge</li>
      <li>Guide Creator Level 3</li>
      <li>25 Comments</li>
      <li>Crop Editor Level 10</li>
    </ul>
  </div>
</div>
