<div class="row">
  <div class="small-12 columns sidebar-section">
    <h4 class="section-header">Followers</h4>
    <ul class="badges-list">
      <li>Barack Obama</li>
      <li>Hilary Clinton</li>
      <li>Kat Ying</li>
      <li>+ 4 more</li>
    </ul>
  </div>
</div>
