<div class="row">
  <div class="small-12 columns sidebar-section">
    <h4 class="section-header">Following</h4>
    <p>Coming soon</p>
    <!-- Make it real
    <ul class="badges-list">
      <li>Barack Obama</li>
      <li>Hilary Clinton</li>
      <li>Kat Ying</li>
      <li>+ 4 more</li>
    </ul> -->
  </div>
</div>
