<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="large-8 medium-10 small-12 small-centered columns">
        <h1>Need to make some changes?</h1>
        <%= render 'shared/user_form' %>
      </div>
    </div>
  </div>
</div>
