.crop-page {
  height: 100%;

  table.crop {
    width: 100%;
    border-collapse: collapse;
    border: none;

    td {
      padding: 1.2em 1.8em;
    }

    tr > td:first-child {
      width: 25%;
      color: #717171;
      font-weight: 600;
      text-align: right;
    }

    tr > td:nth-child(2) {
      font-size: 1em;
    }
  }

  .crop-info-container {
    height: 100%;
    padding: 0;
    overflow-y: scroll;

    .crop-hero {
      position: relative;
      height: 300px;
      background-color: $openfarm-green-muted;
      background-size: cover;
      background-position: center;     
      background-image: image-url("leaf-grey-canopy.png");

      .crop-name {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 10px 10px;
        color: white;
        /* FIXME: Avoid compass gradient for some reason.
           When using compass' background image function, 
           linear gradients output an error: 
           `Cannot determine the opposite position of: to`, our personal
           method defined in presets doesn't have this issue.
           see: https://github.com/FarmBot/OpenFarm/issues/325; */
           @include background-gradient(rgba(0,0,0,.85), rgba(0,0,0,0));
        /*@include background-image(linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0)));*/
      } 
    }
  }

  .guide-results-container {
    height: 100%;
    overflow-y: scroll;
    background-color: $openfarm-blue-grey;

    h2 {
        margin: 1em 0;
      }
  }
}
