.crop-page {
  height: 100%;

  table.crop {
    width: 100%;
    border-collapse: collapse;
    border: none;

    td {
      padding: 1.2em 1.8em;
    }



    tr > td:first-child {
      width: 25%;
      color: #717171;
      font-weight: 600;
      text-align: right;
    }

    tr > td:nth-child(2) {
      font-size: 1em;
    }

    tr:first-child{
      td{
        width: 100%;
        padding: .5em;
        text-align: left;
      }
      img{
        height: 100px;
        width: 100px;
      }
    }
  }

  .crop-info-container {
    height: 100%;
    padding: 0;
    overflow-y: scroll;

    .crop-hero {
      position: relative;
      height: 300px;
      background-color: $openfarm-green-muted;
      background-size: cover;
      background-position: center;
      background-image: image-url("leaf-grey-canopy.png");

      .crop-name {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 10px 10px;
        color: white;
        /* FIXME: Avoid compass gradient for some reason.
           When using compass' background image function,
           linear gradients output an error:
           `Cannot determine the opposite position of: to`, our personal
           method defined in presets doesn't have this issue.
           see: https://github.com/FarmBot/OpenFarm/issues/325; */
           @include background-gradient(rgba(0,0,0,.85), rgba(0,0,0,0));
        /*@include background-image(linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0)));*/
      }
    }
  }

  .guide-results-container {
    height: 100%;
    overflow-y: scroll;
    background-color: $openfarm-blue-grey;

    h2 {
        margin: 1em 0;
      }
  }
}

.crop-edit {
  .thumbnails{
    margin: 0 .5rem .5rem 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: .2s opacity, .2s background-color;

    &:before{
      content: '\f1f8';
      font-family: 'FontAwesome';
      position: absolute;
      color: white;
      text-shadow: 0px 0px 4px black;
      margin: 2.25rem auto;
      width: 100%;
      text-align: center;
      display: inline-block;
      opacity: 0;
      transition: .2s opacity;
    };

    &:hover{
      opacity: .7;
    }

    &:hover:before{
      opacity: 1;
    }

    &.deleted{
      background-color: $alert-color;

      img{
        opacity: .5;
      }
      &:before{
        opacity: 1;
      }
    }

    img{
      width: 100px;
      height: 100px;
    }
  }

  .crop-image{
    @include add-new-button();
    @include box-shadow(none);
    @include font-awesome-mixin();

    cursor: pointer;

    width: 100px;
    height: 100px;
    border-radius: 1em;
    /*border: 2px dashed #979797;*/
    display: inline-block;
    margin-bottom: 1rem;
    position: relative;
    vertical-align: top;


    &:before{
      content: "\f06c";
      font-size: 4rem;
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    /*&.ng-valid-succeeded:before{
      content: '';
    }*/

    &.ng-invalid-uploading:before{
      content: "\f110";
      -webkit-animation: fa-spin-image-load 2s infinite linear;
      animation: fa-spin-image-load 2s infinite linear;
    }

    .wrapper{
      height: 100%;
    }

    img.no-image{
      transform: translate(-50%, -50%);
      position: relative;
      top: 50%;
      left: 50%;
    }

    img{
      width: 100%;
      height: 100%;
      z-index: 999;
      position: relative;
    }
  }

  input[type=submit]{
    margin: 1rem 0;
  }
}
