/*

  Custom mixins

*/

@mixin background-gradient($from, $to){
  background-image: -o-linear-gradient(to top, $from, $to);
  background-image: -moz-linear-gradient(to top, $from, $to);
  background-image: -ms-linear-gradient(to top, $from, $to);
  background-image: linear-gradient(to top, $from, $to);
}

@mixin accordion-header-color($color){
  & > a, & > a.title-wrapper{
    background-color: $color;
    transition: .5s;
    &:hover{
      background-color: $color + 20;
    }
  }
}

@mixin font-awesome-mixin(){
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}

@mixin button-box-shadow(){
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.08), 0px 4px 10px 0px rgba(0,0,0,0.10), inset 0px 1px 0px 1px rgba(255,255,255,0.1);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.08), 0px 4px 10px 0px rgba(0,0,0,0.10), inset 0px 1px 0px 1px rgba(255,255,255,0.1);
}


/*

  Prevent Angular loading flicker

*/

.ng-cloak {
    opacity: 0;
}


/*

  Global Styles
  (think long and hard before adding anything here!)

*/

table {
  width: 100%;
}

textarea {
  max-width: 100%
}

.full-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* For "full-screen" rows that shouldn't be edge to edge on huge screens (~1440px) */
.row.wide-row {
  // TODO(warpling): replace magic number
  max-width: 90rem;
}

/* Apply to columns that should have the same bottom padding as left/right */
.columns.bottom-padding {
  // TODO(warpling): replace magic number
  padding-bottom: .9375rem;
}

/* Apply this to a row that will vertically center a column */
.row.row-table {
  display: table;
  table-layout: fixed;
  width: 100%; // Tables will only be as big as they need to without this
}

.row.row-full-height {
  height: 100%;
}

/* Apply this to the column that should be vertically centered */
.columns.column-middle {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

/*

 site-wide button style

*/

.button {
  // For some reason the foundation styles don't
  // acknowledge the button radius set in the button-box-shadow mixin
  border-radius: 4px;
  @include button-box-shadow();
  @include background-gradient(#A2BD6A, #83A544);
  border-radius: 3px;
  transition: .2s background-image;

  &:hover {
    @include background-gradient(#8FAB54, #7A9841);
  }

  &[disabled=disabled].loading, &[disabled].loading, &[disabled].loading:hover{
    background-image: url(ajax-loader-button-disabled.gif);
    background-position: 4px center;
    background-repeat: no-repeat;
  }

  &.alert {
    background-image: none;
  }

  &.secondary {
    background-image: none;
  }

  &.success {
    background-image: none;
  }
}

@mixin add-new-button(){
  @include transition(all 0.15s ease-out);

  background: none;
  background-color: transparent;
  border: 2px dashed #DDD;
  border-radius: 20px;
  font-size: 1.2em;
  display: table;
  width: 100%;
  cursor: pointer;
  color: #DDD;

  &:hover {
    border-style: solid;
    background-color: rgba(0,0,0,0.05);
  }

  &:active {
    background-color: rgba(0,0,0,0.1);
    color: white;
  }
}

.thumbnails{
  margin: 0 .5rem .5rem 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: .2s opacity, .2s background-color;

  &:before{
    content: '\f1f8';
    font-family: 'FontAwesome';
    position: absolute;
    color: white;
    text-shadow: 0px 0px 4px black;
    margin: 2.25rem auto;
    width: 100%;
    text-align: center;
    display: inline-block;
    opacity: 0;
    transition: .2s opacity;
  };

  &:hover{
    opacity: .7;
  }

  &:hover:before{
    opacity: 1;
  }

  &.deleted{
    background-color: $alert-color;

    img{
      opacity: .5;
    }
    &:before{
      opacity: 1;
    }
  }

  img{
    width: 100px;
    height: 100px;
  }
}

.click-to-upload-image{
  @include add-new-button();
  @include box-shadow(none);
  @include font-awesome-mixin();

  cursor: pointer;

  width: 100px;
  height: 100px;
  border-radius: 1em;
  /*border: 2px dashed #979797;*/
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
  vertical-align: top;


  &:before{
    content: "\f06c";
    font-size: 4rem;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.ng-invalid-uploading:before{
    content: "\f110";
    -webkit-animation: fa-spin-image-load 2s infinite linear;
    animation: fa-spin-image-load 2s infinite linear;
  }

  .wrapper{
    height: 100%;
  }

  img.no-image{
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }

  img{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: relative;
  }
}
