input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  border-radius: $global-radius;
}
input-invalid-notify{
	border: none;
}
.input-invalid-notify.ng-invalid {
  border: 1px solid $alert-color;
}

input#search_crop_name.ng-invalid {
  border: none;
}
