.typeahead {

  + ul {
    width: 100%;
    max-width: 100%;

    li {
      width: 100%;
      max-width: 100%;

      &.active {
        background-color: lighten($of-green, 40%);
      }
    }
  }
}
