.typeahead {

  + ul {
    width: 100%;
    max-width: 100%;

    li {
      width: 100%;
      max-width: 100%;

      &.active {
        background-color: #6aa84f;

      a{
        color: white !important;
      }
      }
    }
  }
}
