.typeahead {

  + ul {
    width: 100%;
    max-width: 100%;

    li {
      width: 100%;
      max-width: 100%;

      &.active {
        background-color: #69A84F;
        color: white;
      }
    }
  }
}
