.badges-list {
  .badge {
    background-color: $tag-background-color;
    display: inline-block;
    text-transform: capitalize;
    border-radius: 3px;
    padding: 2px 8px;
    margin: 2px;

    &::before {
      content: "";
      background-color: $of-green;
      border-radius: 100%;
      display: inline-block;
      height: 8px;
      margin-bottom: .15rem;
      margin-right: .5rem;
      width: 8px;
    }
  }
}
