<div class="row">
  <div class="columns small-12">
    <h2 class="action-name">
      {{ action.name }}
    </h2>
    <label class="left"
        for="action_description">{{ texts.describeActions }}
    </label>
    <textarea id="action_content" ng-model="action.overview">
    </textarea>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <label>{{ texts.chooseActionPhoto }}</label>
    <of-images-upload
      class="columns small-8 medium-8"
      item="action"
      images-key="'pictures'">
    </of-images-upload>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <label class="left"
        for="how_long">{{ texts.howLongAction }}<br/>
      <small>{{ texts.doNotSweat }}</small>
    </label>
    <div class="vertical-input-select-group">
      <input ng-model="action.time"
             type="number"/>
      <select ng-model="action.length_type">
        <option value="minutes">Minutes</option>
        <option value="hours">Hours</option>
        <option value="action_days">Days</option>
      </select>
    </div>
  </div>
</div>
