<div class="row">
  <div class="swatch columns large-6">
    <h1>Attributions</h1>
    <p>
      We use content throughout OpenFarm that may not have been licensed under a fully open license. We will list that content here.
    </p>
    <p>
      So far no content needs to be attributed, it's all in the public domain!
    </p>
  </div>
</div>
