<div class="row">

<h1>Purpose (TL;DR)</h1>
<p>A primary goal of our community is to be inclusive to the largest number of participants with the most varied and diverse backgrounds possible. As such, we are committed to providing a safe and welcoming environment for all, regardless of race, gender, sexual orientation, functional diversity, physical appearance, ethnicity, nationality, or religion (or lack thereof); and lifestyle choices and practices including those related to food, health, parenting, drugs, farming and gardening, and employment.</p>
<p>We have written this code of conduct not because we expect bad behavior from our community&mdash;which, in our experience, is overwhelmingly kind and civil&mdash;but because we believe a clear code of conduct is a necessary part of building a respectful community. Whether you&rsquo;re a regular participant or a newcomer, we care about making this community a safe place for you and we&rsquo;ve got your back.</p>
<p>Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the Safety Team.
</p>
<p>Some of our community spaces may have additional rules in place, which will be made clearly available to participants. Participants are responsible for knowing and abiding by these rules.</p>
<p>Note that this Code of Conduct is a living document that may be amended in the future. We welcome your feedback on this and every other aspect of our community, and we thank you for working with us to make participation a safe, enjoyable, and friendly experience for everyone.</p>
<h1>Contact Info</h1>
<p>If you are subject to or witness violations of this Code of Conduct, or have any other concerns, please notify our Safety Team immediately at <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=safety@openfarm.cc">safety@openfarm.cc</a>.</p>
<h1>Scope</h1>
<p>This Code of Conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior.</p>
<p>We expect all community participants, developers (paid or otherwise), sponsors, and others, to abide by this Code of Conduct in all community spaces and events&nbsp;- online and in-person, including and not limited to the OpenFarm website, OpenFarm meetups, the discussion forum and within the sourcecode repository and issue tracking software, regardless of where they are hosted - as well as in all one-on-one and other communications in the context of our community.</p>
<h1>Expected Behavior</h1>
<ul>
<li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community.</li>
<li>Remember that we&rsquo;re a world-wide community, so you might not be communicating in someone else&rsquo;s primary language.</li>
<li>Be respectful. Not all of us will agree all the time, but disagreement is no excuse for poor behavior and poor manners. We might all experience some frustration now and then, but we cannot allow that frustration to turn into a personal attack. It&rsquo;s important to remember that a community where people feel uncomfortable or threatened is not a productive one. If someone asks you to stop, then stop.</li>
<li>Remember that we&rsquo;re all unique individuals. Actively seek to acknowledge and respect the perspectives of others. When we disagree, try to understand why. Disagreements, both social and technical, happen all the time. It is important that we resolve disagreements and differing views constructively. The strength of our community comes from our diversity.</li>
<li>Take care of each other. Alert our Safety Team if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
<li>Some community spaces may have additional rules in place, which will be made clearly available to participants. Participants are responsible for knowing and abiding by these rules.</li>
</ul>
<h1>Unacceptable Behavior</h1>
<ul>
<li>Intimidating, harassing, abusive, exclusionary, discriminatory, derogatory, harmful, or demeaning speech or actions especially regarding - but not limited to - a person&rsquo;s race, gender, sexual orientation, functional diversity, physical appearance, ethnicity, nationality, or religion (or lack thereof); or lifestyle choices and practices including - but not limited to - those related to food, health, parenting, drugs, farming and gardening practices, or employment is unacceptable. </li>
<li>Threats or incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm is unacceptable.</li>
<li>Stalking, following, and harassing photography or recording, including logging online activity for harassment purposes is unacceptable.</li>
<li>Sustained disruption of discussion, talks, or events is unacceptable.</li>
<li>Patterns of inappropriate social contact such as requesting/assuming inappropriate levels of intimacy with others, continued one-on-one communication, physical contact and simulated physical contact (eg, textual descriptions like &ldquo;hug&rdquo; or &ldquo;backrub&rdquo;) without consent or after a request to stop is unacceptable.</li>
<li>Posting (or threatening to post) non-harassing private communication or other people&rsquo;s personally identifying information is unacceptable.</li>
<li>Use of unwelcome sexually explicit or violent material or language, unwelcome sexual attention, spamming, trolling, flaming, baiting or other attention-stealing behavior is unacceptable.</li>
<li>Creating an unwelcome, provocative, or aggressive environment at in-person events is unacceptable.&nbsp;Continuing with a behavior or activity after being asked to stop is unacceptable.</li>
<li>Advocating for, or encouraging, any of the above behavior is unacceptable.</li>
</ul>
<h1>Consequences of Unacceptable Behavior</h1>
<li>If any participant violates this Code of Conduct, the Safety Team may take any lawful action we deem appropriate, including but not limited to:</li>
<li>Warning the offender verbally or in writing.</li>
<li>Deleting specific pieces of or all content created by the offender.</li>
<li>Removing the offender&rsquo;s access to the community with no refund.</li>
<li>Expulsion of the offender from an in-person event with no refund.</li>
<li>Reporting the offender to appropriate law enforcement agencies.</li>
<li>We prioritize marginalized people&rsquo;s safety over privileged people&rsquo;s comfort. We will not act on complaints regarding:</li>
<li>&lsquo;Reverse&rsquo; -isms, including &lsquo;reverse racism,&rsquo; &lsquo;reverse sexism,&rsquo; and &lsquo;cisphobia&rsquo;</li>
<li>Reasonable communication of boundaries, such as &ldquo;leave me alone,&rdquo; &ldquo;go away,&rdquo; or &ldquo;I&rsquo;m not discussing this with you.&ldquo;</li>
<li>Communicating in a &lsquo;tone&rsquo; you don&rsquo;t find congenial</li>
<li>* Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions</li>
<li>The Safety Team reserves the right to exclude people based on their past behavior, including behavior outside our community spaces and behavior towards people who are not in our community.</li>
<li>In order to protect Safety Team volunteers from abuse and burnout, we reserve the right to reject any report we believe to have been made in bad faith. Reports intended to silence legitimate criticism may be deleted without response.</li>
</ul>
<h1>Addressing Grievances</h1>
<p>If you feel you have been falsely or unfairly accused of violating this Code of Conduct, you should notify the Safety Team with a concise description of your grievance. Three people will individually examine your grievance and suggest a course of action to either honor your grievance or dismiss it. The popular course of action will be taken.</p>
<h1>License</h1>
<p>This Code of Conduct is licensed CC BY-SA 4.0. Special thanks to these resources:</p>
<ul>
<li><a href="http://www.google.com/url?q=http%3A%2F%2Fincisive.nu%2F2014%2Fcodes-of-conduct%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNELuzrlaDFK8jt4c-NQh4gxSsgcKw">http://incisive.nu/2014/codes-of-conduct/</a></li>
<li><a href="http://www.google.com/url?q=http%3A%2F%2Fcitizencodeofconduct.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFOJkEHVjdNHiN2oinjXcgH4B8KFQ">http://citizencodeofconduct.org/</a></li>
<li><a href="https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Frust-lang%2Frust%2Fwiki%2FNote-development-policy&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFUhLAV8zIN1KYxisDhmABr4oDoQg">https://github.com/rust-lang/rust/wiki/Note-development-policy</a></li>
<li><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.djangoproject.com%2Fconduct%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHCyWvDRHViYI-WlAYqXZty3LnJNA">https://www.djangoproject.com/conduct/</a></li>
<li><a href="http://www.google.com/url?q=http%3A%2F%2Fsrccon.org%2Fconduct%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHOABFPIN991IQS949d4DFurBfyJA">http://srccon.org/conduct/</a></li>
<li><a href="http://www.google.com/url?q=http%3A%2F%2Fgeekfeminism.wikia.com%2Fwiki%2FConference_anti-harassment%2FPolicy&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHTdG5zAotXHW67-Ykj7EnzR6ROOQ">http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy</a></li>
<li><a href="http://www.google.com/url?q=http%3A%2F%2Fgeekfeminism.wikia.com%2Fwiki%2FCommunity_anti-harassment%2FPolicy&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHAvTWCIRxTGlwhzlk7RYSl7gLcYg">http://geekfeminism.wikia.com/wiki/Community_anti-harassment/Policy</a></li>
<li><a href="http://www.google.com/url?q=http%3A%2F%2Fgeekfeminism.org%2Fabout%2Fcode-of-conduct%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNG_Ggk2b6vIYQ48MWIoPDvQIzH7oA">http://geekfeminism.org/about/code-of-conduct/</a></li>
</ul>
</div>