<div class="bar-header">
  <h1 class="title">
    <%= t('meta.contact') %>
  </h1>
</div>

<div class="row">
  <div class="swatch columns small-12">
    <h2>Email us</h2>
    <p>
      Send Rory an e-mail at <a href="mailto:rory@openfarm.cc">rory@openfarm.cc</a>
    </p>
    <h2>Chat with us</h2>
    <p>
      <%= link_to(t('meta.slack'), 'http://slack.openfarm.cc') %> group to talk to us in real time.
    </p>
  </div>
</div>
