<div class="row">
  <div class="swatch columns large-8">
    <h1>F.A.Q.</h1>
    <p>
    This F.A.Q. is constantly evolving.
    </p>
    <section id="growing-information">
      <h3 id="soil-types">What are soil types? <a href="#soil-types"><i class="fa fa-link"></i></a></h3>
      <p>
        &#8220;Soil is the mixture of minerals, organic matter, gases, liquids, and the myriad of organisms that together support plant life. It is a natural body that exists as part of the pedosphere and which performs four important functions: it is a medium for plant growth; it is a means of water storage, supply and purification; it is a modifier of the atmosphere; and it is a habitat for organisms that take part in decomposition of organic matter and the creation of a habitat for new organisms.&#8221; - <a href="https://en.wikipedia.org/wiki/Soil">Wikipedia</a>
      </p>

      <h3 id="repeat-annually">Do plants repeat annually? <a href="#soil-types"><i class="fa fa-link"></i></a></h3>
      <p>
        We'll get back to you on that one!
      </p>
    </section>
  </div>
</div>
