<div class="bar-header">
  <h1 class="title">
    <%= t('meta.faq') %>
  </h1>
</div>

<div class="row">
  <div class="swatch columns small-12">
<section id="general">
  <h2 class="center">General Questions</h2>
  <hr>
  <h4 id="how-can-i-help">How Can I help right now? <a href="#how-can-i-help"><i class="fa fa-link"></i></a></h4>
  <p>
  Short answer: Anywhere.</p>
  <p>
  Long answer: The current status of the project is one where everything is still very much in flux. Development is quick and constantly changing. We're pushing things at least a couple of times a week, and for that reason, anything that changes is up for debate and re-consideration.</p>
  <p>
  Right now the focus of the project is on guide creation (Growing Guides). However, for that to work properly, we need real plant data(Crops).</p>

  <h4 id="chat">Is there a Skype/IRC/Slack group? <a href="#chat"><i class="fa fa-link"></i></a></h4>

  <p>
  Currently most day-to-day discussion happens in our Slack group (email Rory to get yourself added!)
  </p>
  <p>
  A couple of us hang out on #farmbot and #openfarm, though it's not very active.
  </p>

</section>


</br>
</br>
<section id="coding">
  <h2 class="center">Development Questions</h2>
  <hr>
  <h4 id="code-contribute">How can I contribute code? <a href="#code-contribute"><i class="fa fa-link"></i></a></h4>
  <p>
    <ol>
    <li>Fork <a href="https://github.com/openfarmcc/OpenFarm">the repo</a>.</li>
    <li>Fix stuff, write features, unit tests(!).</li>
    <li>Send pull request to master.</li>
    </ol>
  </p>
  <p>
  Not sure where to help? Take a look at the <a href="https://github.com/openfarmcc/OpenFarm/issues" title="openfarm issues">Issue Tracker</a>. It is advisable to let others know your intent to implement a feautre before starting, as it lets other contributors focus their efforts elsewhere.
  </p>
  <p>
  Want to see the big picture? We have <a href="https://docs.google.com/spreadsheets/d/13_VQDOm8HpM49Ql3HyNfL9ut5JlqbLEDA9yEk5OqgqU/edit?usp=sharing" title="project roadmap">a project roadmap</a> for that!
  </p>
  <h4 id="angular">Should we use Angular? <a href="#angular"><i class="fa fa-link"></i></a></h4>

  <p>
  Current conversation is happening in #84. Join.
  </p>
  <p>
  Previous issues: #70.
  </p>



  <h4 id="issue-tracker">Is there an issue tracker? <a href="#issue-tracker"><i class="fa fa-link"></i></a></h4>
  <p>
  We're primarily using github issues and milestones to keep track of things.
  </p>
  <p>
  Previous issues: #61

  </p>

</br>
</br>
</section>
    <section id="growing-information">
    <h2 class="center">Growing Questions</h2>
    <hr>
      <h4 id="soil-types">What are soil types? <a href="#soil-types"><i class="fa fa-link"></i></a></h4>
      <p>
        &#8220;Soil is the mixture of minerals, organic matter, gases, liquids, and the myriad of organisms that together support plant life. It is a natural body that exists as part of the pedosphere and which performs four important functions: it is a medium for plant growth; it is a means of water storage, supply and purification; it is a modifier of the atmosphere; and it is a habitat for organisms that take part in decomposition of organic matter and the creation of a habitat for new organisms.&#8221; - <a href="https://en.wikipedia.org/wiki/Soil">Wikipedia</a>
      </p>

      <h4 id="repeat-annually">Do plants repeat annually? <a href="#soil-types"><i class="fa fa-link"></i></a></h4>
      <p>
        We'll get back to you on that one!
      </p>
    </section>
  </div>
</div>
