<div class="hero row" style="margin-top: 100px">
    <div class="small-10 small-centered columns">
        <h1>Learn to grow anything.</h1>
        <h3>A free and open database for farming and gardening knowledge.</h3>
    </div>
    <div class="small-10 small-centered columns">
        <form class="home_search" method="get" action="/crop_search">
            <div class="row">
                <div class="small-12 small-centered columns">
                    <div class="row collapse">
                        <div class="small-8 large-9 columns">
                            <input class="search" type="text" name="q" size="42" maxlength="120" placeholder="Search Open Crop Data">
                        </div>
                        <div class="small-4 large-3 columns">
                            <input class="button button postfix" type="submit" value="Search!">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>