<div class="row">

<div class="columns large-6 medium-8 large-centered medium-centered">

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//openfarm.us8.list-manage.com/subscribe/post?u=d41f97f612d606f032a884227&amp;id=8b8c94b1c5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>Subscribe to our mailing list</h2>
  <p>
    We'll get in touch with regular updates, changes to the site, and with things you can get involved with.
  </p>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE3">Where did you first hear about OpenFarm?  <span class="asterisk">*</span>
</label>
  <select name="MMERGE3" class="required" id="mce-MMERGE3">
  <option value=""></option>
  <option value="Facebook">Facebook</option>
<option value="Twitter">Twitter</option>
<option value="Google+">Google+</option>
<option value="Reddit">Reddit</option>
<option value="Blog">Blog</option>
<option value="News Article">News Article</option>
<option value="Email">Email</option>
<option value="Word of Mouth">Word of Mouth</option>
<option value="Forum">Forum</option>
<option value="Other">Other</option>

  </select>
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_d41f97f612d606f032a884227_8b8c94b1c5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
</div>
</div>