<div class="bar-header">
  <h1 class="title">
    <%= t('meta.privacy_policy') %>
  </h1>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2 class="center">Privacy Policy</h2>
    <hr>

    <p>Last updated: September 07, 2014</p>

    <p>OpenFarm ("us", "we", or "our") operates the http://openfarm.cc website (the "Service").</p>

    <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.</p>

    <p>We will not use or share your information with anyone except as described in this Privacy Policy.</p>

    <p>We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at http://openfarm.cc</p>


    <p><strong>Information Collection And Use</strong></p>

    <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, postal address, other information ("Personal Information").</p>

    <p><strong>Log Data</strong></p>

    <p>We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

    <p>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.</p>



    <p><strong>Cookies</strong></p>

    <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>

    <p>We use "cookies" to collect information. <!-- You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, --> If you do not accept cookies, you may not be able to use some portions of our Service.</p>



    <!-- <p><strong>Do Not Track Disclosure</strong></p>
    <p>We support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.</p>
    <p>You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.</p>
     -->
    <p><strong>Service Providers</strong></p>

    <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>

    <p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

    <p><strong>Communications</strong></p>

    <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>

    <p><strong>Compliance With Laws</strong></p>

    <p>We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service.</p>


    <p><strong>Security</strong></p>

    <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

    <p><strong>International Transfer</strong></p>

    <p>Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>

    <p>If you are located outside United States and choose to provide information to us, please note that we transfer the information, including Personal Information, to United States and processes it there.</p>

    <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>

    <p><strong>Links To Other Sites</strong></p>

    <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>

    <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>

    <p><strong>Children's Privacy</strong></p>

    <p>Our Service does not address anyone under the age of 13 ("Children").</p>

    <p>We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we discover that a Children under 13 has provided us with Personal Information, we will delete such information from our servers immediately.</p>

    <p><strong>Changes To This Privacy Policy</strong></p>

    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

    <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

    <p><strong>Contact Us</strong></p>

    <p>If you have any questions about this Privacy Policy, please contact us.</p>
    </br>
  </div>
</div>
