<%= javascript_include_tag 'angular-libs/uploader' %>

<h1>Hello, world!</h1>
<div>
  <div ng-controller='testbed'>
  <label>
    <input type="file" uploader="hi">
    Upload a file
  </label>
  </div>
</div>
