.alert-box {
  position: fixed;
  top: 4rem;
  right: 1rem;
  width: 265px;
  transition: top 0.5s;
  z-index: 999999;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

  &.alert-close {
    display: none;
  }

  .close {
    top: 18px;
  }
}

.home-alert-wrapper {
  height: 0;
}

.warning {
  color: $of-dark;
}
