
footer {
  height: $footer-height;
  background: RGB(32, 25, 23);
  @include transition(all 0.5s);
  padding: 0.5em 0;

  a {
    $button-height: 2em;
    $line-height: 1em;
    height: $button-height;
    margin-bottom: 0.5em;
    padding: ($button-height - $line-height)/2 0.5em;
    font-weight: 600;
    line-height: $line-height;
    letter-spacing: 0.08em;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    vertical-align: middle;
    @include transition(all 0.65s ease-out);

    &:hover {
      background: rgba(255, 255, 255, 0.25);
      color: rgba(255, 255, 255, 0.75);
    }

    &:active {
      @include transition(none);
      background: rgba(255, 255, 255, 0.15);
    }
  }
}
