---
http_interactions:
- request:
    method: post
    uri: https://us8.api.mailchimp.com/2.0/lists/list
    body:
      encoding: UTF-8
      string: '{"apikey":"","filters":{"list_name":"OpenFarm
        Subscribers"}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total":1,"data":[{"id":"8b8c94b1c5","web_id":435541,"name":"OpenFarm
        Subscribers","date_created":"2014-07-17 18:58:16","email_type_option":false,"use_awesomebar":true,"default_from_name":"OpenFarm","default_from_email":"rory@openfarm.cc","default_subject":"","default_language":"en","list_rating":3.5,"subscribe_url_short":"http:\/\/eepurl.com\/bbQeJ5","subscribe_url_long":"http:\/\/openfarm.us8.list-manage1.com\/subscribe?u=d41f97f612d606f032a884227&id=8b8c94b1c5","beamer_address":"@inbound.mailchimp.com","visibility":"pub","stats":{"member_count":2176,"unsubscribe_count":53,"cleaned_count":6,"member_count_since_send":183,"unsubscribe_count_since_send":9,"cleaned_count_since_send":1,"campaign_count":11,"grouping_count":1,"group_count":1,"merge_var_count":2,"avg_sub_rate":79,"avg_unsub_rate":4,"target_sub_rate":4,"open_rate":48.929688786432,"click_rate":11.968348170129,"date_last_campaign":"2015-04-05
        15:00:48"},"modules":[]}],"errors":[]}'
  recorded_at: Mon, 06 Jul 2015 05:36:26 GMT
- request:
    method: post
    uri: https://us8.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"","id":"8b8c94b1c5","email":{"email":"halle@cummings.com"},"merge_vars":{"DNAME":"Kenya
        Bergnaum"},"double_optin":false,"update_existing":true}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"halle@cummings.com","euid":"8db461ac88","leid":"266178317"}'
  recorded_at: Mon, 06 Jul 2015 05:36:27 GMT
recorded_with: VCR 2.9.3
