# YOU NEED TO SET SENSITIVE SECRETS AND STUFF IN HERE.


# Setup your 'writer' bucket here. This is the bucket that will accept untrusted
# files from anyone. For detailed instructions, see s3_instructions.md .
ENV['S3_BUCKET_NAME'] = 'the_name_here'
ENV['S3_ACCESS_KEY']  = 'TheSHortOne'
ENV['S3_SECRET_KEY']  = 'ThisIsTheReallyReallyLongOne'

# Setup your 'master' bucket here. This is the bucket that handles trusted
# content and has unrestricted access for doing things like deleting old images
# and updating images for cropping / versioning, etc.
ENV['MASTER_BUCKET_NAME'] = 'the_name_here'
ENV['MASTER_ACCESS_KEY']  = 'TheSHortOne'
ENV['MASTER_SECRET_KEY']  = 'ThisIsTheReallyReallyLongOne'
