# YOU NEED TO SET SENSITIVE SECRETS AND STUFF IN HERE.

ENV['S3_BUCKET_NAME']        = 'my_bucket'
# Public Policy Here:
ENV['S3_ACCESS_KEY']         = '987'
ENV['S3_SECRET_KEY']         = '654'
# Trusted Policy Here:
ENV['SERVER_S3_ACCESS_KEY']  = '123'
ENV['SERVER_S3_SECRET_KEY']  = '456'

# Emails seperated by pipes('|')
ENV['ALERTS']                = "t@g.com|a@b.com"