<section name="step-3"
  class="step stage-details"
  ng-show="step === 3"
  ng-class="{'from-right': step < 3, 'from-left': step > 3}">

  <div ng-show="newGuide.selectedStagesCount === 0">
    <%= t('.select_some_stages') %>
  </div>

  <div ng-show="newGuide.selectedStagesCount > 0">

    <!-- TODO: Fix before deploy -->
    <form name="sacrificial-form" style="background:red">
      <!-- This clearly shouldn't be necessary but something on the page is consuming the first form element -->
    </form>
    <!--  -->
    <!-- There has to be a better way to send all of these internationalizations to Angular JS -->
    <div guides-stages
      guide="newGuide"
      options="options"
      texts="translations">
    </div>
  </div>
</section>
