<div class="medium-4 columns <%= 'hide-for-small-only' if (index >= 3) %>">
  <div class="featured-crop-container">
    <%= link_to crop do %>
    <div class="featured-crop">
      <div class="crop-image full-cover" style="background-image: url('<%= crop.main_image_path %>')"></div>
      <div class="blackness full-cover"></div>
      <div class="row row-table row-full-height">
        <div class="small-12 column-middle columns">
          <h3 class="crop-name"><%= crop.name %></h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
