<div class="actions-modal">
  <h3 class="center">Choose which actions we should add</h3>
  <hr/>
  <div class="actions">
    <ul>
      <li class="action" ng-repeat="action in actionOptions" ng-class="{ selected: action.selected}"
      ng-click="action.selected = !action.selected">
        {{ action.name }}
      </li>
    </ul>
  </div>
  <hr/>
  <div ng-if="(actionOptions | filter: {selected: true}).length > 0">
  Selected actions: <span ng-repeat="action in actionOptions | filter: {selected: true}">{{ action.name }}<span ng-if="!$last">, </span></span>
  </div>
  <hr/>
  <button class="button" ng-click="ok()">Done</button>
  <a class="fa fa-times-circle close-modal" ng-click="cancel()"></a>
</div>
