<label for="{{ options[0].slug }}">
  <input type="checkbox"
         id="{{ options[0].slug }}"
         name="{{ options[0].slug }}"
         ng-model="options[0].selected"/><span class="button tiny secondary">
    {{ options[0].label }}
  </span>
</label><label for="{{ options[1].slug }}">
  <input type="checkbox"
         id="{{ options[1].slug }}"
         name="{{ options[1].slug }}"
         ng-model="options[1].selected"/><span class="button tiny secondary">
    {{ options[1].label }}
  </span>
</label><label for="{{ options[2].slug }}">
  <input type="checkbox"
         id="{{ options[2].slug }}"
         name="{{ options[2].slug }}"
         ng-model="options[2].selected"/><span class="button tiny secondary">
    {{ options[2].label }}
  </span>
</label><label for="{{ options[3].slug }}">
  <input type="checkbox"
         id="{{ options[3].slug }}"
         name="{{ options[3].slug }}"
         ng-model="options[3].selected"/><span class="button tiny secondary"
         ng-class="{ last : options.length <= 4}"
         >
    {{ options[3].label }}
  </span>

</label><button dropdown-toggle="#other-{{multiCheckboxId}}"
                class="button tiny secondary"
                aria-controls="other"
                aria-expanded="false"
                ng-if="options.length > 4">Other</button>
<ul id="other-{{multiCheckboxId}}" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1"
  ng-if="options.length > 4">
  
  <li ng-repeat="option in options.slice(4)"
  ng-click="option.selected = !option.selected">
    <a>
    <i ng-show="option.selected" class="fa fa-check"></i> {{ option.label }}</li>
    </a>
</ul>
