<label for="{{ option.slug }}"ng-repeat="option in options.slice(0, multiSelectOverflowCount)"> <input type="{{ multiSelectType }}"id="{{ option.slug }}"name="{{ multiSelectType=='checkbox' ? option.slug : multiSelectId }}"ng-model="option.selected"ng-checked="option.selected"/><span class="button tiny secondary"> {{ option.label }} </span></label><button dropdown-toggle="#other-{{ multiSelectId }}"
                class="other button tiny secondary"
                ng-class="{ selected : othered }"
                aria-controls="other"
                aria-expanded="false"
                ng-if="options.length > multiSelectOverflowCount">
                  <i class="fa fa-caret-down"></i>
                  Other
                </button>
<ul id="other-{{ multiSelectId }}"
    class="f-dropdown"
    data-dropdown-content
    aria-hidden="true"
    tabindex="-1"
    ng-if="options.length > multiSelectOverflowCount">
  <li ng-repeat="option in options.slice(multiSelectOverflowCount)"
      ng-click="option.selected = !option.selected">
    <a>
      <i ng-show="option.selected" class="fa fa-check"></i> {{ option.label }}
    </a>
    </li>
</ul>
