<span class="s3-upload-input">
  <span ng-if="!hasOnePicture">
    <span ng-repeat="pic in s3UploadExistingPictures"
          class="thumbnails"
          ng-class="{ 'deleted' : pic.deleted }"
          ng-init="pic.deleted = false"
          ng-click="pic.deleted = !pic.deleted">
      <img ng-src="{{ pic.thumbnail_url || pic.image_url }}" width="100"
           ng-model="pic"/>
    </span>
  </span>

  <span class="thumbnails"
        ng-if="s3UploadExistingPictures && hasOnePicture">
    <img ng-hide="uploading" ng-src="{{ s3UploadExistingPictures.image_url }}"
       />
  </span>

  <span class='click-to-upload-image'>
    <input type='file' style='display: none'/>
    <input type='field' style='display: none' name='{{ nameAttribute }}' value='{{ filename }}'/>

    <div ng-show="uploading" class="progress primary round">
      <span class="meter" style="width: {{progress}}%"></span>
    </div>
  </span>


</span>
