<div class="s3-upload-input">
  <div ng-if="!hasOnePicture" class="pictures">
    <span ng-repeat="pic in s3UploadExistingPictures"
          class="thumbnails"
          ng-class="{ 'deleted' : pic.deleted }"
          ng-init="pic.deleted = false"
          ng-click="pic.deleted = !pic.deleted">
      <img ng-src="{{ pic.thumbnail_url || pic.image_url }}" width="100"
           ng-model="pic"/>
    </span>
  </div>

  <div class="thumbnails"
       ng-if="s3UploadExistingPictures && hasOnePicture"
       ng-class="{ 'deleted' : s3UploadExistingPictures.deleted }"
       ng-click="s3UploadExistingPictures.deleted = !s3UploadExistingPictures.deleted"
       >

    <img ng-hide="uploading"
      ng-src="{{ s3UploadExistingPictures.image_url }}"
       />
  </div>

  <div class='click-to-upload-image'>
    <input type='file'/>
    <input type='field' name='{{ nameAttribute }}' value='{{ filename }}'/>

    <div ng-show="uploading" class="progress primary round">
      <span class="meter" style="width: {{progress}}%"></span>
    </div>
  </div>
</div>
