<span class='crop-image'>
    <span ng-if='!filename && guide.featured_image.indexOf("leaf-grey") === -1'>
        <div class='wrapper'>
            <img ng-src='{{ guide.featured_image  }}'/>
        </div>
    </span>
    <span ng-if='filename'>
        <div class='wrapper'>
            <img ng-src='{{ filename }}'/>
        </div>
    </span>
    <div ng-if='!filename && guide.featured_image.indexOf("leaf-grey") > -1' class='wrapper' class='tooltip' data-tooltip title='Upload a picture for your guide'>
        <i class='leaf-placeholder fa fa-leaf'></i>
        <p class='to-upload'>Upload a picture</p>
        <p class='loading'>Loading...</p>
    </div>

    <input type='file' style='display: none'/>
    <input type='field' style='display: none' name='{{ nameAttribute }}' value='{{ filename }}'/>
</span>
