<div class="button-wrapper row">
  <div class="columns large-12">
    <!-- <a class="button small secondary left"
        name="back"
        href="{{ cancelUrl }}"
        >{{ cancelText }}</a> -->
    <input class="button small secondary left"
        ng-if="backText || texts.back"
        name="back"
        type="submit"
        value="{{ backText || texts.back }}"
        ng-click="goBack()">

    <span ng-if="stage">
      <input class="button small right"
        ng-if="stage.nextSelectedIndex"
        name="commit"
        type="submit"
        value="{{ stage.edited ? texts.editNextStage: texts.finishStageToContinue }}"
        ng-disabled="!(stage.edited)"
        ng-click="tunnelToNextStage(stage)"/>
      <input class="button small right"
          ng-if="!stage.nextSelectedIndex"
          name="commit"
          type="submit"
          value="{{ stage.edited ? texts.nextFinalTouches : texts.finishStageToContinue }}"
          ng-disabled="!(stage.edited && stage.valid)"
          ng-click="nextStep()"/>
    </span>

    <input class="button small right"
      ng-if="!stage"
      name="commit"
      type="submit"
      value="{{ abledBool() ? abledText : disabledText }}"
      ng-disabled="!abledBool || processing"
      ng-click="nextStep()"/>
    <i ng-if="processing"
       class="fa fa-spinner fa-spin right loading-button"></i>
  </div>
</div>
