.compatibility-circle {
  $circle-size: 50px;
  width: 50px;
  height: 50px;
  border-radius: 999rem;
  font-size: 18px;
  font-weight: 600;
  color: #CCC;
  border: 2px solid #CCC;
  line-height: $circle-size;
  text-align: center;
  vertical-align: middle;

  .score {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;  
    margin-top: -8px; // nudge up    
  }

  @mixin compatibility-color ($selector, $color) {
    &.#{$selector} {
      color: $color;
      border-color: $color;

      &.hover:hover {
        color: white;
        background-color: $color;
      }
    }
  }

  @include compatibility-color('low', $compatibility-low-color);
  @include compatibility-color('medium', $compatibility-med-color);
  @include compatibility-color('high', $compatibility-high-color);
}