/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

// @import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

// Presets already included in foundation_and_overrides?
// @import "presets";

.display{
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
}

.swatch{
  float: left;
  margin-bottom: 1em;
  width: 96%;
  /*margin-right: 2%;*/
  background-color: white;
  padding: 10px 0;
  padding: 0.625rem 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.swatch-preview{
  display: block;
  float: left;
  height: 60px;
  width: 100%;
  margin: 0 0.8em 0.5em 0;
}

.swatch-details{
  list-style: none;
  float: left;
  margin: 0 1em 0 0;
  font-size: 0.8em;
  clear: both;
}

@import 'font-awesome';
@import 'foundation_and_overrides';
@import '*';
