/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

// @import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
@import "compass";
@import "presets";

.display{
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
}

.swatch{
  float: left;
  margin-bottom: 1em;
  width: 96%;
  /*margin-right: 2%;*/
  background-color: white;
  padding: 10px 0;
  padding: 0.625rem 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.swatch-preview{
  display: block;
  float: left;
  height: 60px;
  width: 100%;
  margin: 0 0.8em 0.5em 0;
}

.swatch-details{
  list-style: none;
  float: left;
  margin: 0 1em 0 0;
  font-size: 0.8em;
  clear: both;
}

.full-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* For "full-screen" rows that shouldn't be edge to edge on huge screens (~1440px) */
.row.wide-row {
  // TODO(@warpling): replace magic number
  max-width: 90rem;
}

/* Apply to columns that should have the same bottom padding as left/right */
.columns.bottom-padding {
  // TODO(@warpling): replace magic number
  padding-bottom: .9375rem;
}

/* Apply this to a row that will vertically center a column */
.row.row-table {
  display: table;
  table-layout: fixed;
  width: 100%; // Tables will only be as big as they need to without this
}

.row.row-full-height {
  height: 100%;
}

/* Apply this to the column that should be vertically centered */
.columns.column-middle {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

@import 'font-awesome';
@import 'foundation_and_overrides';
@import '*';
