.crop-search-results {
  height: 100%;

  h2 {
    margin: 1em 0;
  }

  .crop-results-container {
    height: 100%;
    // overflow-y: scroll;
  }

  .guide-results-container {
    height: 100%;
    // overflow-y: scroll;
    background-color: rgb(240, 243, 244);
    /* replace the typical 15px left/right padding
    to account for the compatibility score bar */
    padding: inherit 15px inherit 1
  }
}

@import "crop_searches/_crop_results.css.scss";
@import "crop_searches/_crop_result.css.scss";
@import "crop_searches/_guide_results.css.scss";
@import "crop_searches/_guide_result.css.scss";