/* presets */

@import 'presets';

.guides-list{
  margin-top: 2rem;
  table{
    width: 100%;
  }
}

/* 

  Show Guide

*/

.empty{
  text-align: center;
  padding-bottom: 1rem;
  i{
    font-size: 1.5rem;
  }
}

.show-guide-app{
  position: relative;
}

.canopy{
  height: 300px;
  margin-bottom: 1rem;
}

.image-wrapper{
  /*background-image: url(leaf-grey-canopy.png);*/
  background-position: top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 300px;
  border-bottom: 1px solid rgb(51, 51, 51);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.image-wrapper img{
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  margin: auto 0;
  width: 100%;
}

.title{
  h2{
    font-weight: 100;
    color: $secondary-color;
    /*font-family: "Helvetica Neue";*/
    span{
      color: $of-green;
      font-weight: 300;
    }
  }
  .edit-link{
    position: absolute;
    top: 1rem;
    right: 0;
  }
}

.actual-requirements{
  ul{
    list-style: none;
  }
  li{

  }
}

/*

  New Guide

*/

.box{
  margin: 2rem 0;
  padding-top: 1rem;
}

.create-guide-steps{
  max-width: 640px;
  margin-top: 2rem;
  text-align: center;
  font-size: .8rem;
  color: #C69F60;

  .step{
    opacity: .6;
  }

  .active{ 
    opacity: 1;
  }

  span{
    border-radius: 2rem;
    font-size: .6rem;
    width: 1.2rem;
    text-align: center;
    height: 1.2rem;
    padding-top: .2rem;
    vertical-align: middle;
    display: inline-block;
    background-image: -o-linear-gradient(-89deg, #FFFFFF 0%, #EFF1F4 100%);
    background-image: -moz-linear-gradient(-89deg, #FFFFFF 0%, #EFF1F4 100%);
    background-image: -ms-linear-gradient(-89deg, #FFFFFF 0%, #EFF1F4 100%);
    background-image: linear-gradient(-179deg, #FFFFFF 0%, #EFF1F4 100%);
    /* Sketch doesnt export pattern fills at this point */
    border: 1px solid rgba(0,0,0,0.10);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.10), inset 0px 1px 0px 1px #FFFFFF;
    box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.10), inset 0px 1px 0px 1px #FFFFFF;
  }
}

form.new-guide{
  display: inline-block;
  width: 100%;
  margin: 2rem 0;

  .button-wrapper{
    margin-top: 2rem;
  }

  .block{
    height: 2rem;
    display: block;
  }

  p{
    font-size: .9rem;
    color: #171717;
    line-height: 1.5rem;
    margin-bottom: .5rem;
  }
  input.button.small.secondary.left{
    margin-left: .5rem;
  }
}
.crop-image{
  background: #fff;
  width: 100%;
  height: 124px;
  border-radius: 2px;
  border: 0px solid #979797;
  -moz-box-shadow:    inset 0px 1px 3px 0px rgba(0,0,0,0.20);
  box-shadow:         inset 0px 1px 3px 0px rgba(0,0,0,0.20);
  display: inline-block;
  margin-bottom: 1rem;

  img.no-image{
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }
}

/****
*
* $EDIT
*
*****/

.edit-guide-app{
  margin: 2rem 0 4rem;
}

h1{
  cursor: pointer;
}

h1.has-tip, h1.has-tip:hover{
  border-bottom: none;
  color: inherit;
}

.crop-image{
  cursor: pointer;
  color: $secondary-color;

  &.ng-invalid-uploading{
    p.loading{
      display: block;
    }
    p.to-upload{
      display: none;
    }
  }

  .wrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
    .leaf-placeholder{
      transform: translate(0%, -30%);
      margin: auto;
      top: 0; bottom: 0; right: 0; left: 0;
      position: absolute;
      height: 3rem;
      width: 3rem;
      font-size: 3rem;
    }
  }
  p{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .loading{
    display: none;
  }
  a{
    bottom: 0;
    left: 0;
    position: absolute;
    margin-bottom: -2rem;
  }
}



input[type=text].hidden-edit-field{
  font-size: 2rem;
  height: 3.5rem;
}

p.section-text{
  margin-top: 1rem;
}


.edit-guide-app .box, .show-guide-app .box{
  padding: 1.5rem 0;
  margin-top: 0;
}

/****
*
* $REQUIREMENTS
*
****/

.requirements{
  .actual-requirements{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.requirement{
  border-radius: 3px;
  background: #EFF1F4;
  border: 1px solid #E7E8EB;
  width: 90%;
  padding: 0 1rem;
  margin: 0 1rem;
  display: inline-block;
  opacity: .5;
  /*transition: .2s;*/

  &.active{
    background-color: scale-color($of-green, $lightness: 35%);
    /*background-color: $of-green;*/
    opacity: 1;

    &:hover{
      opacity: 1;
    }
  }

  .title{
    margin: 0;
    font-size: .9rem;
    margin-top: .5rem;
  }

  &:hover{
    opacity: .7;
  }

  input[type=range]{
    width: 66%;
    margin: .7rem 1rem 0 0;
  }

  input[type=checkbox]{
    margin: 0 .2rem .8rem -.5rem
  }

  .columns{
    /*padding: .5rem inherit;*/
  }

  .choices select{
    display: inline-block;
    /*width: 35%;*/
    background-color: inherit;
    cursor: pointer;
    /*margin-top: .1rem;*/
    margin-bottom: 0;
  }
}

.row.requirements-results{
  text-align: center;
  margin-top: 1rem;
}

/****
*
* $STAGES
*
****/


.tabs{
  dd a{
    /*padding: .5rem 1rem;*/
  }
  h3{
    font-size: .8rem;
  }
}

.stage-description{
  padding: 0 2rem;
}


/*

$SIZES

*/
@media only screen and (max-width: 40.063em){
  .requirements .actual-requirements{
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
