
/* Debug */
.row {
  &.header-row {
    border: 1px solid red;
  }

  &.content-row {
    border: 1px solid cyan;
  }
}

/* Section accordion styling */
dd a.title {
  display: block;

  h2.title {
    display: inline-block;
    color: white;
    font-weight: 800;
  }

  .author {
    margin-left: 20px;
    display: inline-block;
    color: white;
  }
}

/* Plant overview section */
dd a.title.overview > a {
    background-color: salmon;
}

dd a.title h2 {
    display: inline;
}

/* Plant overview section */
#overview .title {
    background-color: salmon;
}

#overview .content {
    background-color: #FCE5CD;
}

#overview .content .overview-title {
    font-weight: 600;
}

#overview .content .nav-container {
    padding: 0; /* Disabling Foundation's padding for weird nav highlighting */
    border-left: 1px solid grey;
}

#overview .content .nav-container .nav-title {
    padding: 0 0.9375rem; /* Werid nav padding -- this is unsafe */
    font-weight: 600;
}

#overview .content .nav-container ul {
    margin-left: 0;
}

#overview .content .nav-container ul li {
    list-style: none;
    margin-bottom: 4px;
}

#overview .content .nav-container ul li a {
    display: block;
    padding: 0 0.9375rem; /* Werid nav padding -- this is unsafe */
    color: #444;
}

#overview .content .nav-container ul li:hover {
    background-color: salmon;
}


/* Prerequisites section */
dd a.title.prerequisites > a {
    background-color: cyan;
}

/* Plant overview section */
#prerequisites .title {
    background-color: #3C78D8;
}

#prerequisites .content {
    background-color: #C9DAF8;
}

#prerequisites .content .prerequisites-title {
    font-weight: 600;
}

#prerequisites .content .prerequisite-table-container table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
}

#prerequisites .content .prerequisite-table-container thead {
    display: none;
}

#prerequisites .content .prerequisite-table-container td.prerequisite-icon {
}

#prerequisites .content .prerequisite-table-container td.prerequisite-title {
}

#prerequisites .content .prerequisite-table-container td.prerequisite-description {
    font-weight: bold;
}

#prerequisites .content .compatability-score-container {
    text-align: center;
}

#prerequisites .content .compatability-score-container p {
    margin: 0;
}

#prerequisites .content .compatability-score-container .score-circle {
    width: 90px;
    height: 90px;
    margin: 12px 0;
    display: inline-block;
    border-radius: 50%;
    background-color: grey;
}

#prerequisites .content .compatability-score-container .score-circle.low-score {
    background-color: #BD2B20;
}

#prerequisites .content .compatability-score-container .score-circle.med-score {
    background-color: #FAB900;    
}

#prerequisites .content .compatability-score-container .score-circle.high-score {
    background-color: green;    
}

#prerequisites .content .compatability-score-container .score-circle .score {
    text-align: center;
    line-height: 90px;
    color: white;
    font-size: 1.75em;
    font-weight: bold;
}

#prerequisites .content .nav-container .nav-title {
    padding: 0 0.9375rem; /* Werid nav padding -- this is unsafe */
    font-weight: 600;
}

#prerequisites .content .nav-container ul {
    margin-left: 0;
}

#prerequisites .content .nav-container ul li {
    list-style: none;
    margin-bottom: 4px;
}

#prerequisites .content .nav-container ul li a {
    display: block;
    padding: 0 0.9375rem; /* Werid nav padding -- this is unsafe */
    color: #444;
}

#prerequisites .content .nav-container ul li:hover {
    background-color: salmon;
}
