.hero-background {
  width: 100%;
  min-height: 640px;
  background: image-url('green_wheat_dark10.jpg') no-repeat center center fixed;
  background-size: cover;
}

.hero {

  &.row {
    padding-top: 14%;
  }

  h1 {
    color: white;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
    margin-bottom: 0;
  }

  h2 {
    color: white;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
    margin-bottom: 0.65em;
  }

  input {
    height: 50px;
    font-size: 1.2em;

    &.button {
      background-color: #85CB2B;
      border-color: #4BA122;
    }
  }
}
.links{
  text-align: center;
  margin-bottom: 1rem;

  li{
    display: inline-block;
  }

  li::before{
    content:'• ';
    color: white;
  }

  li:first-child::before{
    content:'';
  }

  a.hero-link{
    color: white;
    text-decoration: underline;
    white-space: nowrap;
  }
}
