@import 'compass';
@import 'styles/presets';
@import 'font-awesome';

$of-orange: #e69138;
$of-blue: #3c78d8;
$of-purple: #674ea7;
$of-green: #6aa84f;
$of-red: #cc0000;
$of-yellow: #f1c232;
$of-dark: #4a4a4a;

$primary-color: #c7a979; // #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #ff6666;
$success-color: #74E29D;
$warning-color: #f08a24;
$info-color: #eecb91;

$compatibility-circle-size: 50px;

// We use these as default colors throughout
$primary-color: #99B36C; // #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #ff6666;
$success-color: #74E29D;
$warning-color: #f08a24;
$info-color: #eecb91;

// OpenFarm Colors
$openfarm-green: #85CB2B;
$openfarm-green-muted: #99B36C;
$openfarm-blue-grey: #ECEFF0;

$compatibility-low-color:  #B23A2C;
$compatibility-med-color:  #FBAD2F;
$compatibility-high-color: #84C93F;

.display{
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
}

.swatch{
  float: left;
  margin-bottom: 1em;
  width: 96%;
  /*margin-right: 2%;*/
  background-color: white;
  padding: 10px 0;
  padding: 0.625rem 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.swatch-preview{
  display: block;
  float: left;
  height: 60px;
  width: 100%;
  margin: 0 0.8em 0.5em 0;
}

.swatch-details{
  list-style: none;
  float: left;
  margin: 0 1em 0 0;
  font-size: 0.8em;
  clear: both;
}

@import 'styles/foundation_and_overrides';
@import 'styles/devise';
@import 'styles/nav';
@import 'styles/icons';
@import 'styles/alerts';
@import 'styles/crop_searches';
@import 'styles/crops';
@import 'styles/guides';
@import 'styles/users';
@import 'styles/home';
@import 'styles/compatibility_circle';
@import 'styles/rug';
