@import "compass";
@import "font-awesome";
@import "styles/variables"; // colors
@import "styles/foundation_and_overrides";
@import "styles/presets";
@import "styles/components/nav";
@import "styles/components/footer";
@import "styles/ui/icons";
@import "styles/ui/compatibility_circle";
@import "styles/ui/inputs/**/*";

@import "styles/components/alerts";
@import "styles/components/loader";
@import "styles/components/crop_searches/**/*";
@import "styles/components/crops/**/*";
@import "styles/components/guides/**/*";
@import "styles/components/users/**/*";
@import "styles/components/devise/**/*";
// begin static page styles
@import "styles/components/pages/home";
@import "styles/components/pages/styles";
@import "styles/components/pages/how_it_works";
@import "styles/components/pages/featured_crops";
