$of-orange: #e69138;
$of-blue: #3c78d8;
$of-purple: #674ea7;
$of-green: #6aa84f;
$of-red: #cc0000;
$of-yellow: #f1c232;
$of-dark: #4a4a4a;

$primary-color: #c7a979; // #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #ff6666;
$success-color: #74E29D;
$warning-color: #f08a24;
$info-color: #eecb91;

@mixin background-gradient($from, $to){
  background-image: -o-linear-gradient(-90deg, $from 0%, $to 100%);
  background-image: -moz-linear-gradient(-90deg, $from 0%, $to 100%);
  background-image: -ms-linear-gradient(-90deg, $from 0%, $to 100%);
  background-image: linear-gradient(-180deg, $from 0%, $to 100%);
}

@mixin accordion-header-color($color){
  & > a, & > a.title-wrapper{
    background-color: $color;
    transition: .5s;
    &:hover{
      background-color: $color + 20;
    }
  }
}

/*

  Generic tweaks
  First, because they're what get over-written

*/

.centered{
  margin-right: auto;
  margin-left: auto;
  float: none !important;
}

.box{
  border-radius: 2px;
  background: rgba(198,159,96,0.04);
  -moz-box-shadow:    0px 0px 3px 0px rgba(0,0,0,0.25);
  box-shadow:         0px 0px 3px 0px rgba(0,0,0,0.25);
  h1{
    font-size: 2rem;
  }
}

// Hack: this doesn't seem to be editable in 
// Foundation && Overrides.
input, textarea{
  border-radius: 4px;
  margin-bottom: 0;
}

small.error{
  margin-bottom: 0;
}

@mixin button-box-shadow(){
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.08), 0px 4px 10px 0px rgba(0,0,0,0.10), inset 0px 1px 0px 1px rgba(255,255,255,0.1);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.08), 0px 4px 10px 0px rgba(0,0,0,0.10), inset 0px 1px 0px 1px rgba(255,255,255,0.1);
}

.button{
  // For some reason the foundation styles don't
  // acknowledge the button radius set on line :365
  border-radius: 4px;
  @include button-box-shadow();
}

.button{
  @include background-gradient(#A2BD6A, #A2BF6B);
  border-radius: 3px;
  /*font-family: SourceSansPro-Bold;*/
}

.button[disabled=disabled].loading, .button[disabled].loading, .button[disabled].loading:hover{
  background-image: url(ajax-loader-button-disabled.gif);
  background-position: 4px center;
  background-repeat: no-repeat;
}

.button.alert{
  background-image: none;
}
.button.secondary{
  background-image: none;
}
.button.success{
  background-image: none;
}
.ng-cloak {
    opacity: 0;
}


/* Section accordion styling */
.accordion > dd.accordion-navigation > a, 
.accordion > dd.active > a,
.accordion > dd.active > a.title-wrapper {
  display: block;
  padding: .2rem 1rem;

  @include accordion-header-color($of-orange);

  h2, h5 {
    display: inline-block;
    color: white;
    font-weight: 600;
  }

  .title{
    font-size: 2rem;
  }

  .author {
    margin-left: 20px;
    display: inline-block;
  }
}

.accordion dd > .content{
  padding: 0 0.935rem;
}

.home_search input{
  border: 1px solid silver;
}

.top-bar input[type='submit']{
  padding: 0;
  line-height: 2.125;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.top-bar .search{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/*

  Icons

*/

.icon::before{
  content: ' ';
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  font-size: 1rem;
  display: inline-block;
}

.icon.of-water::before{
  background: image-url('guide-icons/water.svg'); 
}
.icon.of-temperature::before{
  background: image-url('guide-icons/temperature.svg'); 
}
.icon.of-ph::before{
  background: image-url('guide-icons/ph.svg'); 
}
.icon.of-soil::before{
  background: image-url('guide-icons/soil.svg'); 
}
.icon.of-sun-shade::before{
  background: image-url('guide-icons/sun-shade.svg'); 
}
.icon.of-location::before{
  background: image-url('guide-icons/location.svg'); 
}
.icon.of-practices::before{
  background: image-url('guide-icons/practices.svg'); 
}
.icon.of-time-commitment::before{
  background: image-url('guide-icons/time-commitment.svg'); 
}
.icon.of-physical-ability::before{
  background: image-url('guide-icons/physical-ability.svg'); 
}
.icon.of-time-of-year::before{
  background: image-url('guide-icons/temperature.svg'); 
}

/*

  Markdown corrections

*/

.markdown-help-text{
  font-size: .8rem;
  display: block;
  margin-top: .25rem;
  margin-bottom: 1rem;
}

.markdown{
  h1{
    font-size: 1.2rem;
  }
  h2{
    font-size: 1.1rem;
  } 
  h3{
    font-size: 1rem;
  }

  h4, h5, h6{
    font-size: .8rem;
  }
}