<div class="row actions">
  <div class="columns small-6 medium-4 action-photos stage-wrapper"
    ng-class="{end: $last}">
    <label class="stage-option {{stage.name}}"
        style="background-image: url({{stage.pictures[0].image_url}})"
        ng-class="{stage.name : stage.pictures.length === 0}" for="{{ stage.name }}">
    </label>
  </div>

  <div class="actions" ng-if="canEdit">

    <a ng-hide="editingStage"
      class="button tiny secondary edit-link"
      ng-click="toggleEditingStage()">
      <i class="fa fa-edit"></i> Edit Stage
    </a>
    <a ng-hide="editingStage"
      class="button tiny secondary edit-link"
      ng-click="deleteStage(stage)">
      <i class="fa fa-trash"></i> Delete Stage
    </a>
    <a ng-show="editingStage"
      class="button tiny primary edit-link"
      ng-click="saveStageChanges(stage)">
      <i class="fa fa-save"></i> Save Changes To Stage
    </a>
  </div>

  <div class="images">
    <img ng-repeat="pic in stage.pictures"
      src="{{pic.image_url}}"
      />
  </div>

  <div class="columns small-6 medium-8 action-content">
    <h4 class="stage-name">{{ stage.name }} Overview</h4>

    <div
      class="markdown"
      markdown="stage.overview"
      ng-hide="editingStage">
    </div>
    <textarea
      ng-model="stage.overview"
      ng-show="editingStage">
    </textarea>

    <p class="stage-description"></p>

    <table ng-hide="editingStage">
      <tr>
        <th>Environment</th><td>
          <span ng-repeat="env in environment | filter:{selected: true}"

            > {{ env.label }}<span ng-if="!$last">, </span>
          </span>

        </td>
      </tr>
      <tr>
        <th>Light</th><td><span ng-repeat="li in light | filter:{selected: true}"

            > {{ li.label }}<span ng-if="!$last">, </span>
          </span></td>
      </tr>
      <tr>
        <th>Soil</th><td><span ng-repeat="env in soil | filter:{selected: true}"

            > {{ env.label }}<span ng-if="!$last">, </span>
          </span></td>
      </tr>
    </table>

    <div ng-show="editingStage">

      <label>Environment</label>
      <div multi-row-select
           class="multi-choice"
           relative-id="'stage' + stage.id"
           options-array="environment"
           multi-select-overflow-count="3"
           multi-select-type="checkbox"
           multi-select-id="environment">
      </div>

      <label>Light</label>
      <div multi-row-select
           class="multi-choice"
           relative-id="'stage' + stage.id"
           options-array="light"
           multi-select-overflow-count="3"
           multi-select-type="checkbox"
           multi-select-id="light">
      </div>

      <label>Soil</label>
      <div multi-row-select
           class="multi-choice"
           relative-id="'stage' + stage.id"
           options-array="soil"
           multi-select-overflow-count="3"
           multi-select-type="checkbox"
           multi-select-id="soil">
      </div>
    </div>
  </div>
  <div class="columns small-6 medium-8 action-content"
    ng-repeat="action in stage.stage_actions">
    <h4 class="action-name" ng-bind="action.name"></h4>
    <span ng-repeat="picture in action.pictures">
      <img ng-src="{{picture.medium_url}}"/>
    </span>
    <p class="action-description" ng-bind="action.overview"></p>
    <p class="action-time" ng-bind="action.time"></p>
  </div>
</div>
