<div class="life-stages">
  <h3>Choose some stages to this guide:</h3>
  <div class="all-stages-wrapper">
    <div class="columns large-3 medium-4 small-6 stage-wrapper large-centered medium-centered"
         ng-repeat="stage in stageOptions | orderBy : order"
         ng-class="{end: $last}">
         <input name="{{ stage.name }}"
                id="{{ stage.name }}"
                type="checkbox"
                ng-model="stage.selected"/>
         <label class="stage-option {{ stage.name | lowercase }}" for="{{ stage.name }}">
           <p>{{ stage.name }}</p>
         </label>
    </div>
  </div>
  <div>
    <button class="button small right"
      ng-disabled="!stagesSelected"
      ng-click="addStages()">
      Add Stages
    </button>
  </div>
</div>
