<!-- TODO(@warpling): this is ugly, improve. -->
<div class="compatibility-circle hover <%= guide.compatibility_label %>">
  <span class="score">
    <%= if (score = guide.compatibility_score) then score else 'n/a' end %>
  </span>
</div>