<div class="guides row guides-list">
  <div class="small-12 columns">
    <h2><%= t '.your_guides' %></h2>
    <table>
      <% @guides.each do |guide| %>
        <tr>
          <td>
            <%= link_to(guide.name, {:action => 'show', :id => guide.id}, :class=>'action show') %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
