<div ng-app="guidesApp" 
     ng-controller="newGuideCtrl"
     class="small-12 columns">
  <div class="row">
    <div class="large-8 medium-10 small-12 small-centered columns">
      <h1>Add a new Guide!</h1>
      <form 
        accept-charset="UTF-8" 
        class="new_guide"
        id="new_guide" 
        method="post"
        >
        <label for="guide_name">Guide Name</label>
        <input id="guide_name" name="guide[name]" type="text" 
          ng-model="new_guide.name">
        <label 
          for="guide_crop_id">For Crop:</label>
          <!-- { updateOn: 'default blur', debounce: {'default': 5000, 'blur': 5000} } -->
        <input type="text" 
          ng-model="query"
          ng-change="search()"
          typeahead-on-select='cropSelected($item, $model, $label)'
          typeahead="crop.name for crop in crops"
          typeahead-wait-ms="555"
          class="form-control">
          <p ng-cloak ng-if="new_guide.crop">Selected crop: {{ new_guide.crop.name }}</p>
        <label for="guide_overview">Overview</label>
        <textarea id="guide_overview" name="guide[overview]"
          ng-model="new_guide.overview"></textarea>
        <input id="guide_user" name="guide[user]" 
          type="hidden" 
          ng-model="new_guide.user">
        <input class="button small"  
          data-disable-with="Saving..." 
          name="commit" 
          type="submit" 
          value="Save Guide!"
          ng-click="submitForm()">
      </form>
    </div>
  </div>
</div>
