<div class="row">
  <div class="small-12 columns">
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation overview-wrapper">
        <a href="#overview" class="title">
          <h2 class="title"><%= @guide.name %></h2>
          <h5 class="author"><%= @guide.user.display_name %></h5>
        </a>
        <div id="overview" class="content active">
          <div class="row">
            <div class="small-3 columns img-container">
              <img class="plant image" src="http://www.organicgardening.com/sites/default/files/images/tomato-tips-380-1.jpg" alt="tomatoes!">
            </div>
            <div class="small-7 columns overview-container">
              <h5 class="overview-title">Overview</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="small-2 columns nav-container">
              <h5 class="nav-title">Navigation</h5>
              <ul>
                  <li><a href="#prerequisites">Prerequisites</a></li>
                  <li><a href="#timeline">Timeline</a></li>
                  <li><a href="#growing-instructions">Growing Instructions</a></li>
                  <li><a href="#tips-and-tricks">Tips and Tricks</a></li>
                  <li><a href="#shopping-list">Shopping List</a></li>
                  <li><a href="#recipes-and-usage">Recipes and Usage</a></li>
                  <li><a href="#forum">Forum</a></li>
              </ul>
            </div>
          </div>
        </div>
      </dd>

      <dd class="accordion-navigation prerequisites-wrapper">
        <a href="#prerequisites" class="title">
          <h2 class="title">Prerequisites</h2>
        </a>
        <div id="prerequisites" class="content active">
          <div class="row">
            <div class="small-5 columns prerequisite-table-container">
              <table>
                <thead>
                  <tr>
                    <th width="20"></th>
                    <th class="show-for-medium-up" width="100"></th>
                    <th width="200"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Sun/Shade</td>
                    <td class="prerequisite-description">Full sun</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">pH</td>
                    <td class="prerequisite-description">4 to 6</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Temperature</td>
                    <td class="prerequisite-description">18 to 26 C</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Soil</td>
                    <td class="prerequisite-description">High in organic matter</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Water</td>
                    <td class="prerequisite-description">High</td>
                  </tr>                  
                </tbody>
              </table>
            </div>
            <div class="small-5 columns prerequisite-table-container">
              <table>
                <thead>
                  <tr>
                    <th width="20"></th>
                    <th class="show-for-medium-up" width="100"></th>
                    <th width="200"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Location</td>
                    <td class="prerequisite-description">Greenhouse</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Practices</td>
                    <td class="prerequisite-description">Organic</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Time Commitment</td>
                    <td class="prerequisite-description">High</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Physical Ability</td>
                    <td class="prerequisite-description">Low</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Time of Year</td>
                    <td class="prerequisite-description">Late Winter and early Spring after last Spring frost</td>
                  </tr>                  
                </tbody>
              </table>
            </div>
            <div class="small-2 columns compatability-score-container">
              <p>This guide is</p>
              <div class="score-circle high-score">
                <div class="score">42%</div>
              </div>
              <p>compatable with you and your garden</p>
            </div>
          </div>
        </div>
      </dd>
    </dl>
  </div>
</div>
